.Template{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    border-radius: 4px;
    overflow: hidden;
}

.Template .title{
    background: #22b8cf;
    color: black;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Template .content{
    background: white;
}